body {
    margin: auto;
    max-width: 600px;
    min-width: 320px;
    width: 100%;
    background-color: #efeff4;
}

a {
    text-decoration: none;
    color: var(--tgui--primary_code_highlight);
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: .5px;
    text-underline-offset: 3px;
}